@font-face {
  font-family: 'Dinamit';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local(''), url(/assets/fonts/Dinamit/Dinamit_Extralight.woff) format('woff');
}

@font-face {
  font-family: 'Dinamit';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(/assets/fonts/Dinamit/Dinamit_Regular.woff) format('woff');
}

@font-face {
  font-family: 'Dinamit';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''), url(/assets/fonts/Dinamit/Dinamit_Bold.woff) format('woff');
}

@font-face {
  font-family: 'Untitled';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local(''), url(/assets/fonts/Untitled/UntitledSansWeb-Light.woff) format('woff');
}

@font-face {
  font-family: 'Untitled';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(/assets/fonts/Untitled/UntitledSansWeb-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Untitled';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(/assets/fonts/Untitled/UntitledSansWeb-RegularItalic.woff) format('woff');
}

@font-face {
  font-family: 'Untitled';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local(''), url(/assets/fonts/Untitled/UntitledSansWeb-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Untitled';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: local(''), url(/assets/fonts/Untitled/UntitledSansWeb-MediumItalic.woff) format('woff');
}

@font-face {
  font-family: 'Untitled';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''), url(/assets/fonts/Untitled/UntitledSansWeb-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Untitled';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local(''), url(/assets/fonts/Untitled/UntitledSansWeb-Black.woff) format('woff');
}

@font-face {
  font-family: 'NNNouvelle';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(/assets/fonts/NNNouvelle/NNNouvelleGrotesk-Normal.woff2) format('woff2');
}

@font-face {
  font-family: 'NNNouvelle';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''), url(/assets/fonts/NNNouvelle/NNNouvelleGrotesk-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(/assets/fonts/inter/inter-v7-latin-500.woff2) format('woff2'),
    url(/assets/fonts/inter/inter-v7-latin-500.woff) format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''), url(/assets/fonts/inter/inter-v7-latin-700.woff2) format('woff2'),
    url(/assets/fonts/inter/inter-v7-latin-700.woff) format('woff');
}

@font-face {
  font-family: Redhat;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
    url(/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2) format('woff2'),
    url(/assets/fonts/redhat/red-hat-display-v7-latin-900.woff) format('woff');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local(''),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2)
      format('woff2'),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff) format('woff');
}
